.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
    }


.sidebar { grid-area: 1 / 1 / 6 / 2; }
.ChatRoom { grid-area: 1 / 2 / 6 / 6; }

.ChatRoom {
    overflow-y: scroll;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    position:fixed;
    left:25%;
    bottom:0px;
    width:100%;
    height: 100vh;
}