.messages {
    color: var(--yellow);
    padding: 5px 10px;
}
.messageContainer {
    overflow: auto;
}

strong {
    color: var(--white);
}

.welcomeMessage {
    color: var(--other-green);
}

input {
    margin: 10px 0 0 0;
}

.profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.admin {
    font-size: 0.9em;
    color: #ff2853;
    margin-left: 5px;
    font-weight: bold;
}

.user {
    font-size: 0.9em;
    color: #df8a45;
    margin-left: 5px;
    font-weight: light;
}

.moderator {
    font-size: 0.9em;
    color: 	#00d062;
    margin-left: 5px;
}

.messageField {
    background-color: var(--dark);
    border: solid 2px var(--black);
    padding: 5px 0 5px 10px;
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.sendButton {
    color: white;
    background-color: var(--dark);
    border: solid 2px var(--black);
    padding: 5px;
    border-radius: 0 10px 10px 0;
    margin: 0 0 10px 0;
}