* {
    margin: 0;
    overflow-x: hidden;
}

nav, ul {
    display: flex;
}

nav {
    width: 100vw;
    background-color: var(--black);
    padding: 10px;
}

ul {
    width: 100vw;
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}